.main-nav {
  background: transparent;
  padding: 10px 20px;
  backdrop-filter: blur(15px) saturate(1.2); 
  -webkit-backdrop-filter: blur(15px) saturate(1.2);
  border: 1px solid rgba(255, 255, 255, 0.1); 
  border-radius: 10px;
}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.main-nav ul li a {
  color: var(--main-nav-text);
  font-weight: 500;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); 
}

.main-nav ul li a:hover {
  background-color: rgba(128, 128, 128, 0.1);
  color: var(--main-nav-hover-text);
}

.main-nav ul li a:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--accent);
}

:root {
  --main-nav-text: #333333; 
  --main-nav-hover-text: #fcf9f9;
}

[data-theme="dark"] {
  --main-nav-text: #f1efef; 
  --main-nav-hover-text: #1c1b1b;

}
