.search-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff; /* light mode */
  border-radius: 20px;
  padding-top: 10px;
  padding: 8px 16px;
  width: 50%;
  max-width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), inset 0 -2px 4px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

/* DARK MODE: Softer, not pure white */
[data-theme="dark"] .search-bar {
  background-color: #2d2d2d; /* Soft dark gray */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), inset 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.search-bar.focused {
  transform: scale(1.02);
  border-color: var(--accent);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.365), 0 0 8px var(--accent);
}

.search-bar:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.365);
}

.search-bar input {
  border: none;
  background: transparent;
  color: var(--text);
  font-size: 1rem;
  width: 100%;
  padding: 5px 10px 5px 10px;
  outline: none;
 
}

.search-bar input::placeholder {
  color: var(--text);
  opacity: 0.6;
}

.search-icon {
  color: var(--text);
  font-size: 1.2rem;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.search-bar.focused .search-icon {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .search-bar {
    max-width: 100%;
    padding: 6px 12px;
  }

  .search-icon {
    font-size: 1rem;
  }
}